/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */
* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font', 'Noto Sans CJK SC', sans-serif;
    font-size: 18px;
    min-height: 30px;
}

window#waybar {
    background: transparent;
}

#custom-arch, #workspaces {
    border-radius: 10px;
    background-color: #191a24;
    color: #c0caf5;
    margin-top: 5px;
    margin-right: 15px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-arch {
    font-size: 24px;
    margin-left: 15px;
}

#workspaces button {
    background: #191a24;
    color: #c0caf5;
}

#workspaces button.active {
    color: #2ac3de;
}

#clock, #backlight, #temperature, #cpu, #pulseaudio, #network, #battery, #tray, #memory, #disk {
    border-radius: 10px;
    background-color: #191a24;
    color: #c0caf5;
    margin-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 15px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f38ba8;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-right: 8px;
    padding-left: 10px;
}
